<launch>
  <arg name="arm_id" default="panda" />

  <!-- Planning pipeline -->
  <arg name="pipeline" default="ompl" />

  <arg name="db" default="false" />
  <arg name="db_path" default="$(find panda_moveit_config)/default_warehouse_mongo_db" />
  <arg name="debug" default="false" />
  <arg name="load_gripper" default="true" />
  <arg name="load_robot_description" default="true"/>

  <!-- Force real controller manager -->
  <arg name="moveit_controller_manager" default="ros_control" />

  <!-- Show RViz -->
  <arg name="use_rviz" default="true" />
  <arg name="rviz_tutorial" default="false" />

  <!-- Static transform for world -> panda_link0 -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="virtual_joint_broadcaster_0"
        args="0 0 0 0 0 0 world $(arg arm_id)_link0" />

  <!-- robot_state_publisher -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

  <!-- Load ros_control controllers -->
  <rosparam file="$(find panda_moveit_config)/config/panda_controllers.yaml" command="load" />

  <!-- Start controller manager -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner"
        args="panda_arm_controller panda_hand_controller" output="screen" />

  <!-- Main MoveIt group -->
  <include file="$(dirname)/move_group.launch" pass_all_args="true">
    <arg name="allow_trajectory_execution" value="true"/>
    <arg name="info" value="true"/>
  </include>

  <!-- RViz -->
  <include file="$(dirname)/moveit_rviz.launch" if="$(arg use_rviz)">
    <arg name="rviz_tutorial" value="$(arg rviz_tutorial)"/>
    <arg name="rviz_config" value="$(dirname)/moveit.rviz"/>
    <arg name="debug" value="$(arg debug)"/>
  </include>

  <include file="$(dirname)/default_warehouse_db.launch" if="$(arg db)">
    <arg name="moveit_warehouse_database_path" value="$(arg db_path)"/>
  </include>

</launch>
